<!DOCTYPE html>
<html ng-app="wmsTesterApp">
<head>
    <title>WMS tester</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        html, body {
            height: 100%;
        }
        .ng-invalid {
            border-color: red;
            border-width: 3px;
        }
        .latlon {
            width:70px;
        }
    </style>
    
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="angular-leaflet-directive.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script>
        var NODATA = -1;
        var app = angular.module('wmsTesterApp', ['leaflet-directive']);

        app.controller('MapController', 
            ['$scope', '$location', 'leafletData', 
            function($scope ,  $location ,  leafletData) {
                angular.extend($scope, {
                    center: {
                        lat: 0,
                        lng: 0,
                        zoom: 4
                    },
                    defaults: {
                        attributionControl: true,
                        zoomControlPosition: "topright",
                        scrollWheelZoom: true,
                    },
                    controls: {
                        layers: {
                            visible: false,
                            position: "topright",
                            collapsed: true
                        },
                        scale: {},
                    },
                    wms: {
                        "attribution": "",
                        "url": "",
                        "minzoom": 0,
                        "maxzoom": 11,
                        "format": "image/jpeg",
                        "transparent": false,
                        "version": "1.1.1",
                        "layers_string": "",
                        "styles_string": ""
                    }
                });

$scope.updateLayer = function() {
    leafletData.getMap().then(function(map) {
        if($scope.wmsLayer) {
            map.removeLayer($scope.wmsLayer);
            $scope.tilejsonLayer = null;
        }
        if($scope.wms) {
            var layers = $scope.wms.layers_string.split(",");
            var styles = $scope.wms.styles_string.split(",");
            var layerdef = {
                "attribution": $scope.wms.attribution,
                "format": $scope.wms.format,
                "layers": layers,
                "maxzoom": $scope.wms.maxzoom,
                "minzoom": $scope.wms.minzoom,
                "styles": styles,
                "transparent": $scope.wms.transparent,
                "version": $scope.wms.version
            };
            $scope.wmsLayer = L.tileLayer($scope.wms.url, layerdef);
            map.addLayer($scope.wmsLayer);
        }
    });
};

$scope.downloadJson = function() {
    var data = angular.toJson($scope.tilejson, true);
    var url = 'data:text/json;charset=utf8,' + encodeURIComponent(data);
    window.open(url, '_blank');
    window.focus();
};

function handleFileSelect(evt) {
    console.log(evt);
    var files = evt.target.files;
    for (var i = 0, f; f = files[i]; i++) {
        var reader = new FileReader();
        reader.onload = function(e) {
            try {
                $scope.tilejson = angular.fromJson(e.target.result);
                $scope.$apply();
                $scope.updateLayer();
            } catch(e) {
                console.log(e);
            }
        }
        reader.readAsText(f);
    }
    document.getElementById('files').value = null;
}

document.getElementById('files').addEventListener('change', handleFileSelect, false);

} ]);

app.directive('jsonText', function() {
  return {
    restrict: 'A', // only activate on element attribute
    require: 'ngModel', // get a hold of NgModelController
    link: function(scope, element, attrs, ngModelCtrl) {

      var lastValid;

      // push() if faster than unshift(), and avail. in IE8 and earlier (unshift isn't)
      ngModelCtrl.$parsers.push(fromUser);
      ngModelCtrl.$formatters.push(toUser);

      // clear any invalid changes on blur
      element.bind('blur', function () {
        element.val(toUser(scope.$eval(attrs.ngModel)));
    });

      // $watch(attrs.ngModel) wouldn't work if this directive created a new scope;
      // see http://stackoverflow.com/questions/14693052/watch-ngmodel-from-inside-directive-using-isolate-scope how to do it then
      scope.$watch(attrs.ngModel, function(newValue, oldValue) {
        lastValid = lastValid || newValue;

        if (newValue != oldValue) {
          ngModelCtrl.$setViewValue(toUser(newValue));

          // TODO avoid this causing the focus of the input to be lost..
          ngModelCtrl.$render();
      }
      }, true); // MUST use objectEquality (true) here, for some reason..

      function fromUser(text) {
        // Beware: trim() is not available in old browsers
        if (!text || text.trim() === '') {
          return {};
      } else {
          try {
            lastValid = angular.fromJson(text);
            ngModelCtrl.$setValidity('invalidJson', true);
        } catch(e) {
            ngModelCtrl.$setValidity('invalidJson', false);
        }
        return lastValid;
    }
}

function toUser(object) {
        // better than JSON.stringify(), because it formats + filters $$hashKey etc.
        return angular.toJson(object, true);
    }
}
};
});

</script>
</head>

<body ng-controller="MapController">

    <div style="height:100%" class="container-fluid">
      <div style="height:100%" class="row">
          <div style="height:100%;overflow:scroll" class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="files">Load existing file</label>
                    <input class="form-control" type="file" id="files" name="file" />
                </div>
                <div class="form-group">
                    <label>Zoom</label>
                    <div>
                        <input type="number" min="0" max="22" step="1" ng-model="wms.minzoom" />
                        -
                        <input type="number" min="0" max="22" step="1" ng-model="wms.maxzoom" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="tilejsonversion">format</label>
                    <select class="form-control" id="format" ng-model="wms.format"> 
                        <option value="image/png">image/png</option>
                        <option value="image/jpeg">image/jpeg</option>
                    </select>
                </div>
                <div class="form-group">
                    <label >Attribution</label><input class="form-control" type="text" ng-model="wms.attribution" />
                </div>
                <div class="form-group">
                    <label>URL</label><input class="form-control" type="url" ng-model="wms.url" size="40" />
                </div>
                <div class="form-group">
                    <label>Styles</label><input class="form-control" type="text" ng-model="wms.styles_string" size="40" />
                </div>
                <div class="form-group">
                    <label>Layers</label><input class="form-control" type="text" ng-model="wms.layers_string" size="40" />
                </div>
                <div class="form-group">
                    <label>Transparent</label><input class="form-control" type="checkbox" ng-model="wms.transparent" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="updateLayer()">Update Map</button>
                </div>
            </form>
        </div>
        <div style="height:100%" class="col-md-8">
            <leaflet defaults="defaults" width="100%" height="100%" center="center" controls="controls"></leaflet>
        </div>
    </div>
</div>

</body>
</html>
